@charset "utf-8";

*,
input[type='checkbox'] {
  margin: 0;
  padding: 0;
}

input[type='checkbox'] {
}

/* 가로스크롤 생김 방지 */
html,
body {
  overflow-x: hidden;
}

li,
ol {
  list-style: none;
}

input,
button {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input[type='checkbox']:checked + label {
  color: #888;
  text-decoration-line: line-through;
}

.main-bg {
  background-color: #f6f6f6;
  width: 100%;
  height: 100vh;
}

/* modal */
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;

  /* animation start */
  visibility: hidden;
  /* display: none; */
  opacity: 0;
  transition: all 0.5s ease-out;
}

.white-bg {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.btn-box {
  margin-top: 10px;
}

.btn-style {
  width: 55px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#yes-btn {
  background-color: lightpink;
}

#no-btn {
  background-color: lightblue;
  margin-left: 10px;
}

.show-modal {
  /* animation end */
  visibility: visible;
  /* display: block; */
  opacity: 1;
}

/* 모바일 CSS */
@media screen and (max-width: 767px) {
  .todo-wrap {
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input-wrap > h1 {
    font-weight: 900;
  }

  .input-box {
    margin-top: 10px;
  }

  #input-txt {
    width: 210px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border: 3px solid #000;
  }

  .plus-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: #000;
    color: #fff;
  }

  .list-wrap {
    margin-top: 30px;
  }

  .list-wrap > ul li + li {
    margin-top: 10px;
  }

  .list-item {
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 5px #ccc;
  }

  .chk-box {
    padding: 5px;
  }

  .chk-label {
    padding: 10px;
  }

  .del-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    color: #000;
    font-weight: bolder;
  }

  .del-btn > div {
    margin: 0 auto;
    width: 15px;
    height: 3px;
    background-color: #000;
  }
}
